<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
